# Node and Dependencies
node_modules
dist
build
release
out
coverage

# Environment Variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Databases and Backups
*.sqlite
*.sqlite3
*.db
uploads
backups
exports

# OS Generated
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary Electron build files and cache
build_cache/
release-builds/
dist-ssr
Software Versions/
